.header {
    text-align: center;
}

.row {
    text-align: center;
}

.link-product-show {
    margin-left: 100px;
    text-decoration: none;
}

.link-product-add {
    margin-right: 0;
    margin-top: -23.5px;
    text-decoration: none;
}

.card-body {
    text-align: center;
}

.card-title {
    padding: 20px;
}

.card-text {
    margin: 15px;
}

table {
    text-align: center;
}

.register-link {
    text-decoration: none;
}